body {
	margin: 0;
  padding: 0;
  font-family: 'Raleway';
  box-sizing: border-box;
	background-color: #fff;
}

#bioContainer {
	display: flex;
	border-bottom: 1px solid #b6b8b6;
}

#iconContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50%;
}

#divBio {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#name, #work {
	font-size: 2.25em;
  text-transform: uppercase;
}

#avatar {
	padding-top: 1em;
}

#icons {
	padding: 0em 2em;
}

#avatarImage {
	max-width: 100%;
	height: auto;
	width: 350px;
	border: 2px solid #000;
	border-radius: 50%;
}

#workContainer {
	display: flex;
	flex-direction: column;
	padding: 1em;
}

#imageRow {
	display: flex;
	
}

#work {
	text-align: center;
}

#imageRow {
	display: inherit;
	justify-content: center;
	gap: 0.5em;
}

.list {
	padding: 0.4em;
	padding-bottom: 3em;
}

.recentWork {
	width: 180px;
	height: 180px;
	max-width: 100%;
	cursor: pointer;
}

.fab {
	font-size: 3em;
	color: #5fcfb7;
	padding: 0.2em;
	cursor: pointer;
}

.fab:hover {
	color: #b6b8b6;
	transform: scale(1.1);
  transition: 0.4s ease;
}

.recentWork:hover {
  box-sizing: border-box;
  opacity: 50%;
  border: 3px solid #5fcfb7;
  transition: 0.4s ease;
}

@media screen and (min-width: 1280px) {
  #bioContainer {
		justify-content: center;
		width: 100%;
  }
	#iconContainer {
		align-items: center;
		width: 20%;
	}
}
