#footerContainer {
	display: flex;
	background-color: #000;
	color: #fff;
	
	padding: 5em;
}

#details {
	display: flex;
	flex-direction: column;
	font-size: 1.5em;
	width: 50vw;
}

#appointmentForm {
	display: flex;
	flex-direction: column;
	font-size: 1.75em;
	width: 30vw;
}

#browse {
	width: 60px;
}

#termsAndConditions {
	background: #000;
	color: #fff;
}

.addParagragh {
	font-size: 0.75em;
	margin: 0;
}

.hdrApp {
	font-size: 0.75em;
}

.btnForm {
	font-size: 0.55em;
	width: 165px;
	margin: 0.5em;
	cursor: pointer;
	padding: 0.5em;
	border: none;
	border-radius: 35px;
}
