#footerContainer {
	display: flex;
	gap: 500px;
	justify-content: center;
	background-color: #000;
	color: #b6b8b6;
	padding: 5em;
}

#details {
	font-size: 1.5em;
}

#appointmentForm {
	font-size: 1.75em;
}

#browse {
	width: 60px;
	margin-left: 1em;
}

#termsAndConditions {
	background: #000;
	color: #b6b8b6;
}

.addParagragh {
	font-size: 0.75em;
	margin: 0;
}

.hdrApp {
	font-size: 0.75em;
}

.btnForm {
	font-size: 0.55em;
	width: 165px;
	margin: 0.5em;
	cursor: pointer;
	padding: 0.5em;
	border: none;
	border-radius: 35px;
}
