#footerContainer {
	display: grid;
	text-align: center;
	justify-content: center;
	background-color: #000;
	color: #b6b8b6;
	margin-top: 3em;
}

#details {
	font-size: 1.5em;
	padding-bottom: 2em;
}

#appointmentForm {
	font-size: 1.75em;

#subject {
	width: 53vw;
}

#browse {
	width: 60px;
	margin-left: 1em;
}

#formBtnDiv {
	display: flex;
}

#termsAndConditions {
	background: #000;
	color: #b6b8b6;
	padding: 0.75em;
}

#hdrBookAppointment, .detailsH3, .hdrApp {
	font-size: 1.5em;
}

.addParagragh {
	font-size: 0.75em;
	margin: 0;
}

.hdrApp {
	
	font-size: 0.75em;
}

.txtInput {
	width: 53vw;
}

.btnForm {
	font-size: 0.55em;
	width: 165px;
	margin: 0.5em;
	cursor: pointer;
	padding: 0.5em;
	border: none;
	border-radius: 35px;
}

/* Media Queries */
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.txtInput {
		width: 40vw;
	}

	#subject {
		width: 40vw;
	}

	#formBtnDiv {
		justify-content: center;
	}
}

@media only screen and (min-width: 1200px) {
  #footerContainer {
		grid-template-columns: auto auto;
		justify-content: space-around;
	}

	#details {
		display: grid;
		align-content: space-around;

	}

	#subject, .txtInput {
		width: 100%;
		font-size: 1em;
	}

	#formBtnDiv {
		font-size: 0.75em;
	}

	.addParagragh {
		font-size: 1.45vw;
	}

	.btnForm {
		font-size: 0.75em;
	}
}
