 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
  #browseBtn {
    padding-left: 0.1em;
  }

  #browse {
    padding: 0.1em;
  }
  
  #btnContainer {
     display: flex;
     justify-content: center;
   }

   .btn {
     padding: 0em 1em;
     width: 18em
   }

   .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {
  #btnContainer {
     display: flex;
     justify-content: center;
   }

   #uploadContainer {
     display: flex;
     justify-content: center;
   }

   #uploadFiles {
    padding-right: 0em;
   }

   #browseBtn {
    padding-top: 0.75em;
   }

   .btn {
     padding: 0em 1em;
     width: 8em
   }
}
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
   
}
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {
   
}
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {
  #browse {
    padding: 0.3em;
  }
  
  #btnSubmit {
    /* padding: 0.7em; */
    margin-right: 3em;
  }

  #btnDeposit {
    /* padding: 0.7em; */
  }
} 