* {
  box-sizing: border-box;
}

body {
	background-image: url("../images/moksaTattoStudio.jpg");
	height: 100vh;
	width: 100vw;
	max-width: 100%;
	padding: 0;
	margin: 0;
	font-family: 'Raleway';
	background-image: url('../images/tattooStudio.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#hdrBookAppointment {
	text-align: center;
}

#uploadContainer {
	display: grid;
	grid-template-columns: auto auto;
	gap: 0.5em;
	justify-content: left;
	padding-top: 0.5em;
}

#btnContainer {
	display: grid;
	grid-template-columns: auto auto;
	justify-content: space-evenly;
}

#btnSubmit {
	margin-bottom: 1em;
}

.txtInput {
	width: 60%;
}

input[type=text], select, textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

label {
  padding: 12px 12px 12px 0;
}

label, #tattooInspiration {
	padding: 0em;
}

input[type="text"], #subject {
	width: 65vw
}

.btn {
  cursor: pointer;
	font-size: 1.05em;
	padding: 0.5em;
	border: none;
	border-radius: 35px;
	box-shadow: 1px 1px #000;
}

input[type=submit]:active {
  box-shadow: 0 5px #666;
	transform: translateY(4px);
}

.container {
  border-radius: 5px;
  background-color: rgba(214, 214, 214, 0.8);
  padding: 20px;
}

.outerContainer {
	display: grid;
	justify-content: center;
	padding-top: 3em;
}

.col-25 {
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  width: 45%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {	
	#hdrBookAppointment {
		font-size: 3vw;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	input[type="text"], #subject {
		width: 45vw
	}

	.row {
		padding-left: 0em;
	}
}

/* Footer */
#footerContainer {
	display: grid;
	text-align: center;
	justify-content: center;
	background-color: #000;
	color: #b6b8b6;
	margin-top: 3em;
}

#details {
	font-size: 1.5em;
	padding-bottom: 2em;
	margin: auto;
}

/* \Google Map */
#googleMap {
	width: 350px;
	height: 400px;
}


#appointmentForm {
	font-size: 1.75em;
	text-align: left;
}

#browse {
	width: 60px;
	margin-left: 1em;
}

#formBtnDiv {
	text-align: center;
}

#termsAndConditions {
	background: #000;
	color: #b6b8b6;
	padding: 0.75em;
}

.detailsH3, .hdrApp {
	font-size: 5vw;
}

.addParagragh {
	font-size: 0.75em;
	margin: 0;
}

.hdrApp {
	font-size: 0.75em;
}

.txtInput {
	width: 53vw;
}

.btnForm {
	font-size: 0.55em;
	width: 165px;
	margin: 0.5em;
	cursor: pointer;
	padding: 0.5em;
	border: none;
	border-radius: 35px;
}

/* Media Queries */
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.txtInput {
		width: 40vw;
	}
}

@media only screen and (min-width: 992px) {	
	#details {
		display: flex;
		justify-content: space-between;
		gap: 6em;
		padding: 1em 0em;
	}

	.detailsH3 {
		font-size: 1.25em;
	}
}

@media only screen and (min-width: 1200px) {

}
