body {
  margin: 0;
	padding: 0;
	font-family: 'Raleway';
	box-sizing: border-box;
	right: 0;
	overflow-x: hidden;
	width: 100vw;
}

p {
	font-size: 0.95em;
}

#contact {
	padding-right: 1.5em;
}

#about {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	/* height: 93.9vh; */
	background-image: url('../images/tattooStudio.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#header {
	font-size: 4.5em;
	text-transform: uppercase;
	margin-top: 4.5em;
}

#btnAppointment {
	cursor: pointer;
	font-size: 1.05em;
	padding: 0.5em;
	border: none;
	border-radius: 35px;
	box-shadow: 1px 1px #000;
}

#btnAppointment:Active {
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

#termsAndConditions {
	padding: 0.75em;
}
