#nav-bar {
  display: flex;
  overflow: hidden;
  background-color: #000;
	justify-content: center;
  border-bottom: 1px solid grey;
}

.nav-square {
	display: none;
	float: right;
	font-size: 1.25em;
	color: #5fcfb7;
	padding: 0.5em;
	text-decoration: none;
}

.nav-square:hover, .nav-square2:hover {
	color: #000;
	background-color: #5fcfb7;
	transition: 0.8s;
}

/* Mobile nav bar */
#mobileContainer {
	overflow: hidden;
  background-color: #000;
	width: 100%;
}

#mobile-nav {
	padding-left: 0.5em;
}

.mobile-div {
	width: 35px;
	height: 2px;
	background-color: #5fcfb7;
	margin: 10px 0;
}
/*  */
#mobileMenu {
	display: none;
	flex-direction: column;
  overflow: hidden;
  background-color: #000;
	justify-content: center;
  border-bottom: 1px solid grey;
}

.nav-square2 {
	font-size: 1.25em;
	color: #5fcfb7;
	padding: 0.5em;
	text-decoration: none;
}

/* animation */
#mobile-nav {
	display: inline-block;
	cursor: pointer;
}

.mobile-div {
	 transition: 0.4s;
}

/* rotate top bar */
.change #bar1 {
	-webkit-transform: rotate(-50deg) translate(-9px, 6px);
	transform: rotate(-45deg) translate(-9px, 6px);
}

.change #bar2 {
	opacity: 0;
}

/* rotate bottom bar */
.change #bar3 {
	-webkit-transform: rotate(50deg) translate(-9px, -9px);
	transform: rotate(45deg) translate(-9px, -9px);
}

@media only screen and (min-width: 768px) {
	#mobile-nav { 
		display: none;
	}

	#mobileMenu {
		display: none;
	}

	.nav-square {
		display: inherit ;
	}
}