#nav-bar {
  display: flex;
  overflow: hidden;
  background-color: #000;
	justify-content: center;
  border-bottom: 1px solid grey;
}

.nav-square {
	float: right;
	font-size: 1.25em;
	color: #5fcfb7;
	padding: 0.5em;
	text-decoration: none;
}

.nav-square:hover {
	color: #000;
	background-color: #5fcfb7;
	transition: 0.8s;
}