#whatWeOffer {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
  background-color: #fff;
}

#hdrWhatWeOffer {
  font-size: 3.25em;
  text-transform: uppercase;
  padding: 1.5em 0em;
}

#container {
	display: flex;
	justify-content: center;
	column-gap: 10vw;
	padding: 0em 1.75em 19em 1em;
	
}

.miniHeaderContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#customTattoos, #allStyles {
	text-align: center;
	margin: 0;
	width: 300px;
	text-align: center;
	font-size: 1.25em;
  text-transform: uppercase;
	/* text-decoration: underline; */
}

#topLine {
	margin-top: 3em;
	width: 100vw;
	max-width: 100%;
	border-top: 0.5px solid #b6b8b6;
}

#bottomLine {
	width: 100vw;
	max-width: 100%;
	border-top: 0.5px solid #b6b8b6;
}
